<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DVDRental</display-name>
	<welcome-file-list>
		<welcome-file>jsp/global/home.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
      <servlet-name>Login</servlet-name>
   	  <servlet-class>com.dvdrental.login.LoginValidateServlet</servlet-class>
    </servlet>
	<servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>SaveImage</servlet-name>
   	  <servlet-class>com.dvdrental.servlet.SaveImageServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SaveMovieServlet</display-name>
    	<servlet-name>SaveMovieServlet</servlet-name>
    	<servlet-class>com.dvdrental.servlet.SaveMovieServlet</servlet-class>
    </servlet>
	<servlet-mapping>
      <servlet-name>SaveImage</servlet-name>
      <url-pattern>/SaveImage</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveMovieServlet</servlet-name>
		<url-pattern>/SaveMovieServlet</url-pattern>
	</servlet-mapping>
	
	
</web-app>
