@CHARSET "UTF-8";


body{margin:0px;background-color:#6195c9;color:#000000;}


form{margin:0;padding:0;}


#layout 
{
	height:auto;
	margin-top:0px;
	margin-bottom:0px;
	background-image:url(../images/back-new.png);
	background-repeat:no-repeat;
	vertical-align:top;
}
#topleft
{
	float:left;
	text-align:center;
}
#topmiddle
{
 float:left;	
 text-align:center;
 vertical-align:bottom;

}
#toplistgener1
{
	 padding-top:50px;
	 padding-left:30px;
	 float:left;	
	 text-align:left;
	 vertical-align:bottom;
}
#toplistgener 
{
	 padding-left:10px;
	 font-family:ms sans serif;
	 font-size:16px;
	 font-style:normal;
	 font-weight:bold;
	 color: #ffffff;

}
#toplistgener a
{
	 text-align:left;
	 vertical-align:middle;
	 font-family:ms sans serif;
	 font-size:16px;
	 font-style:normal;
	 font-weight:bold;
	 color: #ffffff;
	 text-decoration:none;
}
#toplistgener a:hover
{
	 text-align:left;
	 vertical-align:middle;
	 font-family:ms sans serif;
	 font-size:16px;
	 font-style:normal;
	 font-weight:bold;
	 color: #32cd32;
	 text-decoration:none;	 
}


#topright
{
	float:right;
	text-align:right;
	margin-right:0px;
}
#topsearch
{
	float:right;
	text-align:right;
	margin-right:30px;
}
#mygameq
{
	float:right;
	text-align:right;
	margin-right:50px;
}
#topbottom
{
	margin-top:20px;
	float:left;
	text-align:left;
}
#topbottomlinks
{
	 padding-left:30px;
 	float:left;
	 margin-right:20px;
	  margin-bottom:20px;
	 font-family:verdana;
	 font-size:13px;
	 font-style:normal;
	 font-weight:bold;
	 color: #983D56;
	 text-decoration:none;
}
#topbottomlinks a
{
	 margin-right:20px;
	 font-family:verdana;
	 font-size:13px;
	 font-style:normal;
	 font-weight:bold;
	 color: #983D56;
	 text-decoration:none;
}
#topbottomlinks1
{
     float:left;
	 font-size:13px;
	 color:#8CC63E;
	 font-weight:bold;
	 text-decoration:none;
}
#topbottomlinks1 a
{
	 margin-right:20px;
	 font-size:13px;
	 color:#8CC63E;
	 font-weight:bold;
	 text-decoration:none;
}
#topbottomhr
{
	BACKGROUND-IMAGE: url(../images/header_back.png); 
	BACKGROUND-REPEAT: repeat-x; 
	background-color:#983D56;
	HEIGHT: 25px;
	VERTICAL-ALIGN: top; 
	font-family:verdana;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding-right:20px;
	margin-bottom:20px;
}
#middle
{
    float:left;
}
#middleleft
{
    float:left;
}
#middleleftbox
{

	border:	#006400 solid 1px;
	margin-bottom:10px;
}
#middleleftboxheader
{
	 background-color:#1e90ff;
		font-family:verdana;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;
	 text-decoration:none;
 	 padding:5px;

}
#middleleftboxcontent
{
	 background-color:#FFFFFF;
     font-family:verdana;
	 font-size:9px;
	 font-style:normal;
	 font-weight:normal;
	 color: #000000;
	 margin:0;
	 padding:5px;
	 text-align:left;
	 vertical-align:top;
}
#middleleftboxcontent a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #983D56;

}
#middleleftboxcontent a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #009900;

}

#middleleftboxcontent ul
{
	list-style-type: square;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;

}
#middleleftboxcontent li a
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #983D56;

}
#middleleftboxcontent li a:hover
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #00CC00;

}

#middlecenter
{
	width:auto;
    float:left;
	margin-left:5px;
	margin-right:5px;
}
#middleright
{
    float:right;
}
#middlerightbox
{
	border:	 solid 1px;
	margin-bottom:10px;
}
#middlerightboxheader
{
	 background-color:#006400;
		font-family:verdana;
		font-size:13px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;
	 text-decoration:none;
 	 padding:5px;

}
#middlerightboxcontent
{
	 background-color:#FFFFFF;
     font-family:arial;
	 font-size:11px;
	 font-style:normal;
	 font-weight:normal;
	 color: #000000;
	 margin:0;
	 padding:5px;
	 text-align:left;
	 vertical-align:top;
}
#middlerightboxcontent a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #983D56;

}
#middlerightboxcontent a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #00CC00;

}

#middlerightboxcontent ul
{
	list-style-type: square;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;

}
#middlerightboxcontent li a
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #983D56;

}
#middlerightboxcontent li a:hover
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #00CC00;

}
#bottom
{
	 float:left;
	 margin-top:20px;
	 margin-left:10px;
	 background-image:url(../images/footer-bg.jpg);
	 background-repeat:no-repeat;
	 margin-bottom:0px;
	 text-align:center;
	 
}
#bottom a
{
	font-family:verdana;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	 text-decoration:none;
}
#bottom a:hover {
	font-family:verdana;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #00CC00;
	text-decoration: underline;
}
.formbox
{
	width:100%;/*auto*/
    float:left;
	margin-bottom:10px;
}

.formbox-left
{
	text-align:right;
	/*width:49%;auto*/
    float:left;
	margin-bottom:5px;
	
}
.formbox-right
{ 
	text-align:left;
/*	width:50%;auto*/
    float: left  ;
	margin-bottom:5px;
}

.formboxheader
{
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}

.formboxfooter
{
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	background-position:center;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-left: 5px;

}

.formboxfooter a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #FFFFFF;

}
.formboxfooter a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #00CC00;

}

.formboxcontent
{
	 background-color:#FFFFFF;
     font-family:arial;
	 font-size:11px;
	 font-style:normal;
	 font-weight:normal;
	 color: #000000;
	 margin:0;
	 padding:5px;
	 vertical-align:top;
}
.formboxcontent a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #8b4513;

}
.formboxcontent a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #daa520;

}

.formboxcontent ul
{
	list-style-type: square;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;

}
.formboxcontent li a
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #983D56;

}
.formboxcontent li a:hover
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #00CC00;

}

.formfieldtext
{

	font-family:arial;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #000000;
}


.tableBorder
{
	border-color: #765432;
	border-style: solid;
	border-width: 1px;
}

.tablecolumnheader
{
	padding:5px;
  	background-color:#000000;
	font-family:verdana;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
	color: #FFFFFF;
}
.tablemessage
{
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 2px;
	padding:5px;
  	background-color:#000000;
	font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color: #FFFFFF;
}
.tablerow
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family:arial;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #6b8e23;
  	background-color:#e6e6fa;
}

.tableselectedrow
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family:arial;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #87ceeb;
  	background-color:#000000;
}
.errMsgType1
{

	font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #ff0000;
}

.errMsgType2
{
	font-family:verdana;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	color: #ff0000;
}
.CatalogMainHead
{
	height:auto;
	font-family:verdana;
	font-size:17px;
	font-style:normal;
	font-weight:bolder;
	color: #000000;
	text-align:left;
	margin-bottom:10px;
	margin-left:10px;
}
.CatalogTopGameTitle
{
	height:auto;
	font-family:verdana;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	text-align:left;
}
.CatalogTopGameDesc
{
	height:auto;
	font-family:verdana;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	text-align:left;
}
.CatalogBorder
{
	height:auto;
	
}
.CatalogHead
{
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	
}
.Cataloggametitle
{
	font-family:arial;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color: #ff0000;
	
}
.Cataloggametitle a
{
	text-decoration:none;
	font-family:arial;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color: #ff0000;
	
}

.Cataloggamecontent
{
	font-family:verdana;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	
}

.page
{
	width:100%;/*auto*/
    float:left;
	margin-bottom:10px;
}

.pageheader
{
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}

.pagefooter
{
	 background-color:#983D56;
		font-family:verdana;
		font-size:13px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;
	 text-decoration:none;
 	 padding:5px;

}

.pagefooter a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #FFFFFF;

}
.pagefooter a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #00CC00;

}

.pagecontent
{
	 background-color:#FFFFFF;
     font-family:arial;
	 font-size:11px;
	 font-style:normal;
	 font-weight:normal;
	 color: #000000;
	 margin:0;
	 padding:5px;
	 vertical-align:top;
}
.pagecontent a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #8b4513;

}
.pagecontent a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #daa520;

}

.pagecontent ul
{
	list-style-type: square;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;

}
.pagecontent li a
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #983D56;

}
.pagecontent li a:hover
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #00CC00;

}

.pagefieldtext
{

	font-family:arial;
	font-size:13px;
	font-style:normal;
	font-weight:bold;
	color: #000000;
}


.rentaldetail
{
	width:100%;/*auto*/
    float:left;
	margin-bottom:10px;
}

.rentaldetailheader
{
	 background-color:#0C1C8D;
		font-family:verdana;
		font-size:13px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;
	 text-decoration:none;
 	 padding:5px;

}

.rentaldetailfooter
{
	 background-color:#983D56;
		font-family:verdana;
		font-size:13px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;
	 text-decoration:none;
 	 padding:5px;

}

.rentaldetailfooter a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #FFFFFF;

}
.rentaldetailfooter a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:normal;
	 color: #00CC00;

}

.rentaldetailcontent
{
	 background-color:#FFFFFF;
     font-family:arial;
	 font-size:11px;
	 font-style:normal;
	 font-weight:normal;
	 color: #000000;
	 vertical-align:top;
}
.rentaldetailcontent a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:bold;
	 color: #983D56;

}
.rentaldetailcontent a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:12px;
	 font-style:normal;
	 font-weight:bold;
	 color: #daa520;

}

.rentaldetailcontent ul
{
	list-style-type: square;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;

}
.rentaldetailcontent li a
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #983D56;

}
.rentaldetailcontent li a:hover
{
	text-decoration:none;
    font-family:verdana;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	color: #00CC00;

}

.rentaldetailfieldtext
{

	font-family:arial;
	font-size:13px;
	font-style:normal;
	font-weight:bold;
	color: #000000;
}

.rentaldetailmiddlebox1
{
	 background-color:#983D56;
		font-family:verdana;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;

}

.rentaldetailmiddlebox1 a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:10px;
	 font-style:normal;
	 font-weight:bold;
	 color: #FFFFFF;

}
.rentaldetailmiddlebox1 a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:10px;
	 font-style:normal;
	 font-weight:bold;
	 color: #00CC00;

}
.rentaldetailmiddlebox2
{
	 background-color:#00CC00;
		font-family:verdana;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		color: #FFFFFF;

}

.rentaldetailmiddlebox2 a
{
	text-decoration:none;
     font-family:verdana;
	 font-size:10px;
	 font-style:normal;
	 font-weight:bold;
	 color: #983D56;

}
.rentaldetailmiddlebox2 a:hover
{
	text-decoration:none;
     font-family:verdana;
	 font-size:10px;
	 font-style:normal;
	 font-weight:bold;
	 color: #00CC00;

}

.hr1
{
height:1px;
 	
}
.rentrentalbox
{
	border-bottom:solid 1px #000000;
	border-left:solid 1px #000000;
	border-right:solid 1px #000000;	
	border-top:solid 1px #000000;	
	height:auto;
}
.gamequeuehead
{
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.buttoncss
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
line-height:25px;
background-image:url(../images/buttons/buttoncss2.gif);
background-position:center;
background-repeat:no-repeat;
display:block;
text-decoration:none;
}
.buttoncss:link
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}
.buttoncss:hover
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}
.buttoncss:visited
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}

.buttoncss1
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
line-height:25px;
background-image:url(../images/buttons/buttoncss3.gif);
background-position:center;
background-repeat:no-repeat;
display:block;
text-decoration:none;
}
.buttoncss1:link
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}
.buttoncss1:hover
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}
.buttoncss1:visited
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}

.buttoncss2
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
line-height:25px;
background-image:url(../images/buttons/buttoncss1.gif);
background-position:center;
background-repeat:no-repeat;
display:block;
text-decoration:none;
}
.buttoncss2:link
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}
.buttoncss2:hover
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}
.../images/buttons/buttoncss2:visited
{
color:#FFFFFF;
font-family:Tahoma;
font-weight:normal;
font-size:14px;
text-align:center;
}

@charset "utf-8";
/* CSS Document */

#main_container_dvddemo {
	position:relative;
	width:960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
}
body {
	margin-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	background-color: #efefef;
}
.top_bar {
	height:83px;
	z-index:1;
	background-image: url(../images/top_bg.jpg);
	background-repeat: repeat-x;
}
.main_image_space {
	height:498px;
	z-index:3;
	border-top-width: 0.1em;
	border-top-style: solid;
	border-top-color: #CCC;
	border-right-width: 0.1em;
	border-left-width: 0.1em;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	width: 100%;
	background-image: url(../images/dvd-cover.jpg);
	background-repeat: no-repeat;
}
.footer {
	background-image: url(../images/footer_bg.png);
	background-repeat: repeat-x;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFF;
	background-position: left top;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1b8f8f;
	padding-left: 10px;
}
.footer p a:link, .footer p a:visited{
	color:#CCC;
	text-decoration:none;
}
.footer p a:hover{
	color:#000;
	text-decoration:none;
}
.dvd_browse {
	height: auto;
	width: 787px;
	background-color: #FFFFFF;
	border-right-width: 0.04em;
	border-bottom-width: 0.04em;
	border-left-width: 0.04em;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.categories {
	height: 500px;
	width: 157px;
	background-color: #FFFFFF;
}
.category_header {
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	height: 25px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.title_categories {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #a3a3a3;
	height: 20px;
}
.dark_reg_text {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0.04em;
	border-left-width: 0.04em;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
	padding-left: 7px;
}
.dark_reg_text_bottom {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0.04em;
	border-left-width: 0.04em;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
	padding-left: 7px;
	border-bottom-width: 0.04em;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
.image_border {
	border: 0.04em solid #CCCCCC;
	padding-top: 2px;
}
.text_matter {
	font-family: Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #333333;
}
.heading_title {
	font-family: Verdana;
	font-size: 17px;
	font-weight: bold;
	color: #333333;
}
.clearfix {
	clear: both;
}
.underliner {
	height: 1px;
	border-top-width: 0.1em;
	border-top-style: solid;
	border-top-color: #CCC;
}

.left-side {
	float: left;
	width: 750px;
	margin-top: 10px;
	margin-bottom:10px;
	border: 0.1em solid #CCC;
}
.right-side {
	float: right;
	width: 195px;
	margin-top: 10px;
	margin-bottom:10px;
}
.title-header {
	background-image: url(../images/title_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.title-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	background-color: #333;
}
.movie-titles {
	padding: 4px;
	float: left;
}
.movie-titles p{
	margin-top:1px;
	margin-bottom:2px;
	text-align:center;
}
.movie-titles p a:link, .movie-titles p a:visited{
	color:#1b8f8f;
	text-decoration:none;
}
.movie-titles p a:hover{
	color:#000;
	text-decoration:underline;
}
.movie-titles img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	border: 0.1em solid #000;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}
.movie-titles img:hover{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	border: 0.1em solid #1b8f8f;
}
.m-left-col{
	float:left;
	width:689px;
	height:auto;
	margin-left:7px;
	margin-right:7px;	
}
.mov-des-holder{
	float:left;
	width:689px;
	height:auto;
	background-color:#000000;	
	
	
}
.m-tab-blue{
	float:left;
	width:693px;
	height:32px;
	margin-top:5px;
	background-color:#1E9C9C;
}
.m-tab-gry{
	float:left;
	width:693px;
	height:31px;
	margin-top:5px;
	background-image:url(../images/v-tab-gry.gif);
	background-repeat:no-repeat;
}
.m-sky-box{
	float:left;
	width:693px;
	height:auto;
	background-color:#f0f9ff;
	margin-bottom:5px;
}
.m-white-box{
	float:left;
	width:691px;
	height:auto;
	background-color:#FFFFFF;
	margin-bottom:5px;
	border:1px solid #999999;
}
.m-heading-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #000522;
	padding-left:5px;
	background-color:#CCCCCC;
	display:block;
}
.m-blk-bg-txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 20px;
	margin: 5px;
}
.m-tab-nav {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 31px;
	color: #000000;	
	font-weight:normal;
}
.m-tab-nav a{	
	color: #000000;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	
}
.m-tab-nav a:hover{	
	color:#FFFFFF;
	text-decoration:none;
	background-color:#779feb;
	display:block;	
	padding-left:10px;
	padding-right:10px;	
}



.m-right-col{
	float:left;
	width:243px;
	height:auto;	
}
.m-r-col-r{
	float:left;
	width:240px;
	height:auto;
	border:1px solid #b4b4b4;
	background-color:#FFFFFF;
	margin-bottom:5px;
	padding-top:3px;
	padding-right:3px;
	padding-bottom:3px;
	padding-left:3px;
}
.our-rating{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#020284;
	font-weight: normal;
	line-height: 18px;
}
.our-rating1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FF0000;
	font-weight: normal;
	line-height: 18px;
}
.blue-txt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#020284;
	font-weight: bold;
	line-height: 18px;
}
.blk-txt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	line-height:18px;
}
.blk-txt-bold{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight: bold;
	line-height:16px;
}


